[2022-01-13 22:03] ivonneo opened #2 "Pollock 1 cm estimates for FEAST"
**Data product requested (stratum CPUE, etc.)**:
Density dependent corrected NumCPUE by year, station and 1 cm length bins

**Species**:
Pollock

**Region** (GOA, AI, Bering Sea):
EBS + NEBS

**Research team making the request** (PI /requester name if you are not the PI, and tag team members with github accounts):
Resource Ecology and Ecosystem Modeling (REFM), FEAST, Kerim Aydin

[2022-01-13 22:13] CaitlinAkselrud-NOAA commented on #2
Provide:
Density-dependent corrected pollock data for:

1. total numbers by year and station
2. total biomass by year and station
3. total numbers by year, station, and 1 cm length bin

Provide write-up of methods
- include: name, affiliation, and preferred acknowledgement for data products

[2022-01-13 22:16] CaitlinAkselrud-NOAA opened #3 "[Data product request]: data product acknowledgements"
How do we want data we provide acknowledge in publications, presentations, or other completed products?

[2022-01-13 22:17] ivonneo opened #4 "Pcod, ATF and Kamchatka cpue for FEAST"
Data product requested (stratum CPUE, etc.):
NumCPUE and WeightCPUE by year (all years), station and 1 cm length bins

Species:
Pacific Cod, Arrowtooth Flounder and Kamchatka flounder

Region (GOA, AI, Bering Sea):
EBS + NEBS

Research team making the request (PI /requester name if you are not the PI, and tag team members with github accounts):
Resource Ecology and Ecosystem Modeling (REFM), FEAST

[2022-01-13 23:15] StanKotwicki-NOAA commented on #3
Groundfishers,

The AFSC Groundfish Assessment Program (GAP) staff produces important data for research and management of fishery resources and, as a result of these vast collections, we are often the recipients of data requests. Some of these data requests are routine and minor and don't take much time or effort. Other data requests can be large, require custom processing, and can take a great de

[2022-01-13 23:52] Ned-Laman-NOAA commented on #3
Just echoing here what Stan says above.

If we are providing a csv of salmon shark catch locations from RACE bottom trawl surveys, we should ask for an acknowledgement from the data requester that the data were collected by AFSC Groundfish Assessment Program scientists.

If a data request has a GAP scientist writing code to do analysis and derive a product (e.g., life staged biomass estimates or C

[2022-01-25 21:34] coleary-noaa opened #5 "[Data product request] Salmon Shark data"
**Data product requested (stratum CPUE, etc.)**:
tow data (length, weight, sex, haul location, gear type, date/time, gear depth)

**Species**:
Salmon Shark

**Region** (GOA, AI, Bering Sea):
all (GOA, AI, and Bering Sea)

**timespan**:
1982 - present

**Research team making the request** (PI /requester name if you are not the PI, and tag team members with github accounts):
Sabrina Garcia (ADF&G)

[2022-01-25 22:09] coleary-noaa opened #6 "add metadata info"
Should we add a version of the column explanations (units & code meanings) for racebase somewhere in the readme?

[2022-01-25 22:34] MargaretSiple-NOAA commented on #3
I propose to add this to the README for the data-requests repo under a heading like "Credit for data and analysis" -- with Stan and Ned's responses combined therein. Any objections? If you're all ok with it, I'm happy to do this.

[2022-01-25 23:25] Ned-Laman-NOAA commented on #3
No objections here.

On Tue, Jan 25, 2022 at 2:34 PM Margaret Siple ***@***.***>
wrote:

--
<'///><  <'///><  <'///><  <'///><  <'///><  <'///><  <'///><
Edward (Ned) Laman, M.Sc.
Supervisory Fish Biologist
Gulf of Alaska & Aleutian Islands Survey Group
Groundfish Assessment Program
NOAA National Marine Fisheries Service
Alaska Fisheries Science Center
7600 Sand Point Way NE, Bldg 4
Seattle, WA 98

[2022-01-25 23:34] Duane-Stevenson-NOAA commented on #3
👍

On Tue, Jan 25, 2022 at 3:25 PM Ned Laman ***@***.***> wrote:

--
Duane Stevenson, Ph.D.
Supervisory Fish Biologist
Groundfish Assessment Program
NMFS, Alaska Fisheries Science Center

[2022-01-25 23:43] Lewis-Barnett-NOAA commented on #3
Great idea, thanks Megsie.

On Tue, Jan 25, 2022 at 3:34 PM Duane Stevenson ***@***.***>
wrote:

--
Lewis Barnett, PhD (he/him/his)
Research Fish Biologist

NOAA Fisheries, Alaska Fisheries Science Center
7600 Sand Point Way NE, Bldg 4
Seattle, Washington 98115

[2022-01-26 00:00] Lewis-Barnett-NOAA commented on #6
I added a link to the codebooks, but not sure what the best way would be to provide other metadata.  I was thinking of linking the InPort entry, but I only found one for the [AI survey](https://www.fisheries.noaa.gov/inport/item/22956) and for the [crab data from EBS](https://www.fisheries.noaa.gov/inport/item/17108).

[2022-01-26 15:30] NancyRoberson commented on #6
Use 'GAP' in the search To find GAP metadata in Inport.  We standardized our records with AFSC/RACE/GAP in the titles.

[2022-01-26 17:06] #3 closed

[2022-01-26 17:10] #6 closed

[2022-01-26 21:54] coleary-noaa commented on #5
Shared a first data pull [here](https://drive.google.com/drive/folders/1A9G5Uy7ik-mCxDJAApcv1fE-JeCX02Xd?usp=sharing)

created a racebase data pull function in R on my github repo, can push that if we decide to use the same R functions across GAP for data pulls

[2022-01-26 22:04] coleary-noaa commented on #5
Look in to 2002 (Stalemate Bank) and 1988 (Bering Sea) observations - outliers

![map_data_check_by_year](https://user-images.githubusercontent.com/64496320/151254618-8102012f-0d6c-4387-b982-915795c2f109.png)

[2022-02-07 22:04] #2 closed

[2022-02-07 22:05] CaitlinAkselrud-NOAA commented on #2
These data products were delivered to Ivonne Ortiz, 2022-02-07.

[2022-02-16 00:26] MargaretSiple-NOAA opened #7 "Specimen table access for food habits"
**Data product requested (stratum CPUE, etc.)**:  Raw specimen data with NODC codes.

**Species**: pollock, cod

**Region** (GOA, AI, Bering Sea): All (?)

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account): Bridget Ferriss (@BridgetFerriss )

Note: NODC codes are available from `FOODLAB

[2022-02-17 21:36] PeteHulson-NOAA opened #8 "Trying to match AI size and age pop'n estimates prior to 2004"
**Data product requested (stratum CPUE, etc.)**:
Filtered length frequency, CPUE, and specimen data for AI bottom trawl surveys from 2004 and prior

**Species**:
All

**Region** (GOA, AI, Bering Sea):
AI

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account. Division is nice too.):
Pete Hul

[2022-02-17 23:14] #7 closed

[2022-02-18 00:32] KSiwicke opened #9 "Temperature profile data request"
**Data product requested (stratum CPUE, etc.)**:
Temperature depth profiles at 1-m increments for all available years, such as the data in these profiles https://drive.google.com/file/d/1_BTjGDKm6iUoOoDkkz7nkwaT0gVGuLgj/view?usp=sharing
Can filter if easier: Date, latitude, longitude, temperature, depth of temperature, bottom depth

**Species**:
NA

**Region** (GOA, AI, Bering Sea):
GOA, AI, and B

[2022-02-24 23:49] NancyRoberson opened #10 "Cod Abundance in the EBS"
cod abundance data by year class, for all stations during the EBS summer surverys from 2014-2021.

**Data product requested (stratum CPUE, etc.)**:  numerical CPUE by age

**Species**: pcod

**Region** (GOA, AI, Bering Sea): EBS

**Research team making the request**:  @Erin-Fedewa-NOAA,  Maddie Shipley (PI /requester name, and tag team members with GitHub accounts, or email address if requestor do

[2022-02-24 23:57] MargaretSiple-NOAA commented on #10
Per Sean, we don't have abundance by year class for PCOD, but we have it by length and you could use an age-length key to convert the lengths to ages which can get you back to year class. But the age-length relationship varies by year (see page 218 of https://apps-afsc.fisheries.noaa.gov/refm/docs/2021/EBSpcod.pdf). So need to confirm with Madi if she wants to convert the lengths to ages (she can

[2022-02-25 01:37] Erin-Fedewa-NOAA commented on #10
@shipmadison bringing you into this issue so Nancy doesn't have to loop back and email ya!

[2022-02-25 17:55] shipmadison commented on #10
Hi all! Thanks for all your help with this request. Data of abundance by length class would be totally fine for the purposes of my initial exploration.

[2022-02-25 19:06] Lewis-Barnett-NOAA commented on #10
[**@shipmadison**](https://github.com/shipmadison) does [this](https://github.com/afsc-gap-products/data-requests/issues/10#issuecomment-1050397022) satisfy your needs? I'm going to close the issue but if this does not suffice, feel free to respond and reopen.

[2022-02-25 19:06] #10 closed

[2022-02-25 19:14] shipmadison commented on #10
@Lewis-Barnett-NOAA, apologies, I clicked your link above to verify, (https://drive.google.com/file/d/18M0M5ZrmGsCNaHdPMyjxl3GeeKzF4Obd/view?usp=sharing) and I'm being denied access to a google drive where I presume the data are. How should I proceed?

[2022-02-25 19:15] Lewis-Barnett-NOAA commented on #10
@shipmadison you now have access

[2022-02-28 18:57] NancyRoberson opened #11 "[Data product request]"
**Data product requested (stratum CPUE, etc.)**:

**Species**:

**Region** (GOA, AI, Bering Sea):

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account. Division is nice too.):

[2022-02-28 18:59] #11 closed

[2022-03-03 23:53] Ned-Laman-NOAA commented on #9
@coleary-noaa @sean-rohan-NOAA
Is this a request you can fill? The framework for something close to this is in the repo I shared for the ESR temperature chapter last Fall.

[2022-03-04 00:35] coleary-noaa commented on #9
I can likely get to this in April, is this an urgent need?

[2022-03-04 00:45] Ned-Laman-NOAA commented on #9
I don't believe so. April will do.

[2022-03-15 17:33] NancyRoberson opened #12 "PYCNOPODIA REQUEST"
** Data Requested:  YEAR, CRUISEJOIN, HAULJOIN ,CATCHJOIN, REGION, VESSEL,CRUISE,STRATUM,STATIONID,HAUL,HAUL_TYPE
,PERFORMANCE,START_TIME,START_LATITUDE,START_LONGITUDE,BOTTOM_DEPTH,SURFACE_TEMPERATURE,GEAR_TEMPERATURE,EFFORT,SPECIES_CODE,WEIGHT,wCPUE,NUMBER_FISH,nCPUE,SUBSAMPLE_CODE	VOUCHER

**_Pycnopodia helianthoides_ species_code = 80160**:

**Region** (GOA, AI, Bering Sea):

**2022 Request:

[2022-03-17 18:28] NancyRoberson opened #13 "[Data product request]"
**Data product requested (stratum CPUE, etc.)**:

**Species**:

**Region** (GOA, AI, Bering Sea):

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account. Division is nice too.):

[2022-03-17 18:44] NancyRoberson opened #14 "EBS-NBS-Pacific cod numerical CPUE by length class for all stns and years"
Data product requested: numerical CPUE by pcod length class for all stations/all years in EBS and NBS (full timeseries for both regions)

Species: Pacific cod species code =21720

Region: EBS and NBS

Research team making the request: Shellfish Assessment Program @Erin-Fedewa-NOAA @mikelitzow
datasets for a manuscript as well as the snow crab Ecosystem and Socioeconomic Profile

[2022-03-17 19:21] NancyRoberson opened #15 "NBS_Numerical CPUE by station all species"
**Data product requested:** Numerical CPUE by station (full timeseries)

**Species:** all

**Region: **NBS

**Research team making the request:** **Shellfish Assessment Program** @Erin-Fedewa-NOAA @mikelitzow
 datasets for a manuscript as well as the snow crab Ecosystem and Socioeconomic Profile

[2022-03-17 19:51] Lewis-Barnett-NOAA commented on #13
@NancyRoberson this appears to be missing the details of the request, can you please edit the issue?

[2022-03-17 19:53] Lewis-Barnett-NOAA commented on #5
closing as this appears to be fulfilled

[2022-03-17 19:53] #5 closed

[2022-03-17 19:57] Lewis-Barnett-NOAA commented on #4
@ivonneo apologies for the delay on this request, we are still working out the kinks with regard to directing traffic in this new workflow (and of course everyone is swamped!).

[2022-03-17 20:24] Ned-Laman-NOAA commented on #8
This seems like a request that @NancyRoberson could fill. If that's not the case, let me know.

[2022-03-17 20:39] NancyRoberson commented on #13
This issue was a mistake and I just figured out how to get rid of it.   Thanks @Lewis-Barnett-NOAA

[2022-03-17 20:39] #13 closed

[2022-03-17 21:11] Duane-Stevenson-NOAA commented on #14
Nancy, can we get clarification on what the requestor means by "length class"? Are we talking about each cm length increment? Or do they want binned data? Separated by sex? Or total for all sexes?

[2022-03-17 21:33] Jason-Conner-NOAA commented on #12
Requested output emailed to @Duane-Stevenson-NOAA

[2022-03-17 21:33] #12 closed

[2022-03-17 23:03] Duane-Stevenson-NOAA commented on #14
After today's SCRUG meeting, I think we should suggest to the requestor that we can provide the raw data (Haul, Catch, Length), and the requestor can produce the analysis products from that. Because the request is for an analysis product that is complex and that we do not routinely produce, we can suggest collaboration and try to find a staff member who's interested.

[2022-03-17 23:19] Erin-Fedewa-NOAA commented on #14
@Duane-Stevenson-NOAA I'm totally okay with that- much easier for me to bin the data in lengths of interest and calculate CPUE from there. I generally prefer to work with raw data anyways, just wasn't sure how comfortable GAP was with sharing. If this is a concern, I'm more than happy to share script with someone from GAP to quickly glance over for accuracy.

[2022-03-17 23:30] Duane-Stevenson-NOAA commented on #14
Thank you, Erin! We'll get someone on it.

Duane

On Thu, Mar 17, 2022 at 4:19 PM Erin Fedewa ***@***.***>
wrote:

--
Duane Stevenson, Ph.D.
Supervisory Fish Biologist
Groundfish Assessment Program
NMFS, Alaska Fisheries Science Center

[2022-03-17 23:37] ivonneo commented on #4
No worries. If it is any help, my guess is Rebecca would already have the
code? I think she did it last time...

I also owe you - have to fill in the ESR/ modesquad request spreadsheet :)

On Thu, Mar 17, 2022 at 12:58 PM Lewis-Barnett-NOAA <
***@***.***> wrote:

--
Ivonne Ortiz (she/her/hers)
Senior Research Scientist, Associate Director
Cooperative Institute for Climate, Ocean, and Ecosystem Stu

[2022-03-22 15:16] NancyRoberson commented on #14
[FEDEWA_DR14_NBS_HAUL_572RECORDS.xlsx](https://github.com/afsc-gap-products/data-requests/files/8325451/FEDEWA_DR14_NBS_HAUL_572RECORDS.xlsx)
[FEDEWA_DR14_NBS_PCOD_CATCH_399RECORDS.xlsx](https://github.com/afsc-gap-products/data-requests/files/8325452/FEDEWA_DR14_NBS_PCOD_CATCH_399RECORDS.xlsx)
[FEDEWA_DR14_NBS_PCOD_LENGTHS_8044RECORDS.xlsx](https://github.com/afsc-gap-products/data-requests/files

[2022-03-28 15:12] NancyRoberson opened #16 "[Data product request]"
**Data product requested (stratum CPUE, etc.)**:

**Species**:

**Region** (GOA, AI, Bering Sea):

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account. Division is nice too.):

[2022-03-28 15:20] NancyRoberson opened #17 "[HAUL DATA]"
**Data product requested**: HAUL DATA from 2021 surveys. This is to support the voucher specimens that have been collected on the surveys and deposited here in the fish collection.

**Region**  GOA, NBS, EBS

**Research team making the request** Division is nice too.): pearsonk@uw.edu  University of Washington Fish Collection; School of Aquatic and Fishery Sciences and Burke Museum of Natural Hist

[2022-03-28 15:35] NancyRoberson commented on #17
[MASLENIKOV_DR17_HaulDataFrom2021surveys_1166records.xlsx](https://github.com/afsc-gap-products/data-requests/files/8364221/MASLENIKOV_DR17_HaulDataFrom2021surveys_1166records.xlsx)

[2022-03-28 15:35] #17 closed

[2022-03-29 19:30] lee-qi opened #18 "EBS Pollock"
**Data product requested (stratum CPUE, etc.)**:
Model settings and data inputs for the density estimates used in the assessment

**Species**:
Walleye Pollock

**Region** (GOA, AI, Bering Sea):
Bering Sea

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account. Division is nice too.):
Qi Lee

[2022-03-29 21:05] CaitlinAkselrud-NOAA commented on #18
The standard data and code (including settings) for the VAST 2021 assessment products was delivered to @lee-qi.

[2022-03-29 21:05] #18 closed

[2022-03-31 23:06] EmilyMarkowitz-NOAA commented on #15
I corresponded with Erin and sent her the data. Data can be found in this [google drive](https://drive.google.com/drive/folders/1xtyskd9wx4FA_ibjDswIyX9Be8Yy8poo?usp=sharing) folder and the code for this can be found at this [repo](https://github.com/afsc-gap-products/gap_public_data). This data will (SOON!) be shared via the [Fisheries One Stop Shop platform](https://www.fisheries.noaa.gov/foss/f

[2022-03-31 23:06] #15 closed

[2022-04-01 17:29] NancyRoberson opened #19 "[Data product request]"
**Data product requested (stratum CPUE, etc.)**:

**Species**:

**Region** (GOA, AI, Bering Sea):

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account. Division is nice too.):

[2022-04-11 12:16] #16 closed

[2022-04-11 18:10] NancyRoberson commented on #14
@Duane-Stevenson-NOAA Can we assign this request to one of your staff?

[2022-04-11 20:33] Duane-Stevenson-NOAA commented on #14
Nancy,

Do you have the code used to generate the original NBS files?

Duane

On Mon, Apr 11, 2022 at 11:10 AM Nancy Roberson ***@***.***>
wrote:

--
Duane Stevenson, Ph.D.
Supervisory Fish Biologist
Groundfish Assessment Program
NMFS, Alaska Fisheries Science Center

[2022-04-11 20:53] #19 closed

[2022-04-11 22:04] NancyRoberson commented on #14
Duane,

Here are the 3 queries used.  I hope they help and let me know if you have questions.

The first query gives NBS pcod catches from surveys post 1981.  The results don't include bad tows (ie. catches not used for stock assessment estimates).  To include all tows (good and bad) take out the ABUNDANCE_HAUL = Y

SELECT
A.SURVEY_NAME
,A.SURVEY_DEFINITION_ID
,A.YEAR
,B.VESSEL
,A.CRUISE
,B.HAUL
,

[2022-04-11 22:39] Duane-Stevenson-NOAA commented on #14
Hi Nancy and Erin,

Here are the data files for EBS.
 FEDEWA_DR14_EBS_COD_CATCH_13879RECORDS.csv
<https://drive.google.com/file/d/17x0sDMTFDyRf0dsUx7sT53B6Q2-9B9tM/view?usp=drive_web>
 FEDEWA_DR14_EBS_COD_LENGTHS_286029RECORDS.csv
<https://drive.google.com/file/d/1RHNBcQpcAVgfWtCin80r_HehQgbEkxSn/view?usp=drive_web>
 FEDEWA_DR14_EBS_HAUL_14465RECORDS.csv
<https://drive.google.com/file/d/1YgyJGLGEt

[2022-04-11 22:41] Duane-Stevenson-NOAA commented on #14
Erin,

If you can access these files, and they look correct, let us know and we can close this issue.

Duane

[2022-04-12 02:06] Erin-Fedewa-NOAA commented on #14
@Duane-Stevenson-NOAA looks like you'll have to give me google access. I can look them over quickly though as soon as I can access and get back to you

[2022-04-13 03:52] Erin-Fedewa-NOAA commented on #14
All set, thank you @NancyRoberson and @Duane-Stevenson-NOAA

[2022-04-13 13:58] #14 closed, assigned to NancyRoberson

[2022-04-13 14:13] NancyRoberson commented on #8
@pete-hulson 2months later, do you still need these?  I apologize for the delay and hopefully you already have them.  Thanks,  -Nancy

[2022-04-13 14:26] NancyRoberson commented on #4
Hi @ivonneo,
Did you get your data request met or still waiting on it.  I apologize for the delay.

[2022-04-13 17:00] callorhinus opened #20 "CPUE and numbers of walleye pollock + surface and bottom temp for Bering Sea"
**2021 CPUE biomass and numbers of walleye pollock, near surface temperature and bottom temperature, latitude and longitude for all stratum in the Bering Sea summer bottom trawl survey (stratum CPUE, etc.)**: The same data output made available to the public on NOAA's website.

**Species**: Walleye pollock

**Region** (GOA, AI, Bering Sea):Bering Sea

**Research team making the request** (PI /requ

[2022-04-13 18:22] Erin-Fedewa-NOAA opened #21 "[Data product request]"
This data request was communicated with @RebeccaHaehn-NOAA via email and she will be fulfilling

**Data product requested (stratum CPUE, etc.): numcpue and wtcpue by station for all species caught on the EBS BT survey, 1975-1981 only

**Species: All species, by station

**Region: EBS

**Research team making the request: Erin Fedewa, SAP

[2022-04-13 21:07] Duane-Stevenson-NOAA commented on #20
Please refer to this test version of the GAP data on the FOSS public data portal:
https://test-www.fisheries.noaa.gov/foss/f?p=215:28

Although the interface subtleties have not been finalized, the data are accessible there now.

[2022-04-14 23:13] Lewis-Barnett-NOAA opened #22 "Link to FOSS public data portal in readme"
When the link is finalized, note this prominently in readme as the first place to look before making a data request.

[2022-04-15 18:44] NancyRoberson commented on #20
Hi @callorhinus, was the FOSS public data portal able meet your request needs?  If not, let us know where you had troubles.  The portal is in test so your feedback is especially important.   If you are satisfied, I will close this ticket.

[2022-05-03 14:07] coleary-noaa commented on #9
it was not, thanks for the reminder! will do ASAP

[2022-05-10 18:22] coleary-noaa commented on #9
Data provided to Kevin on 10 May 2022.

[2022-05-10 18:22] #9 closed

[2022-05-11 16:13] NancyRoberson opened #23 "1983-2021 Surface and Gear Temperature Data"
**Data product requested (stratum CPUE, etc.)**:   Surface and Gear Temperatures 1983-2021

**Species**: N/A

**Region** Chukchi Sea; EBS slope, EBS shelf; Northern Bering Sea

**Research team making the request**  kelly.kearney@noaa.gov

**RESULTS and COMMENTS**
[KEARNEY_GROUNDFISH SURVEY TEMPERATURE DATA_1983-2021.xlsx](https://github.com/afsc-gap-products/data-requests/files/8671568/KEARNEY_GRO

[2022-05-11 17:41] NancyRoberson commented on #23
Emailed results to PI

[2022-05-11 18:54] kakearney commented on #23
Can I update this request to include additional data fields for each entry?  The fields listed below were included in the previous (1982-2019) data file, and ideally I'd like to replicate that file with the addition of 2021 data.  The fields with an asterisk are those that are specifically used in the regional model surface/bottom temperature validation process (as described in [Kearney (2021)](ht

[2022-05-16 15:05] NancyRoberson commented on #23
Hi Kelly,
You bet.  Attached is are the results including additional fields.
As usual, please look them over for correctness and let me know if you need more information.

Thanks!
Nancy

[KEARNEY_GROUNDFISH SURVEY TEMPERATURE DATA_1983-2021_ additional fields.xlsx](https://github.com/afsc-gap-products/data-requests/files/8701197/KEARNEY_GROUNDFISH.SURVEY.TEMPERATURE.DATA_1983-2021_.additional.fiel

[2022-05-16 15:05] #23 closed

[2022-05-16 16:52] MargaretSiple-NOAA opened #24 "2019 age comps for GOA FHS"
**Data product requested (stratum CPUE, etc.)**: Age comps

**Species**: Flathead sole

**Region** (GOA, AI, Bering Sea): GOA

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account. Division is nice too.):
@mkapur (will add NOAA gh later)

[2022-05-16 16:54] MargaretSiple-NOAA commented on #24
@Ned-Laman-NOAA ran Michael Martin's script to generate age comps for 2017-2019 FHS. Maia is expecting additional otoliths to be processed for these years, so she will re-open this issue if the tables need to be run again.

[2022-05-16 16:54] #24 closed

[2022-05-19 13:55] NancyRoberson opened #25 "2012 Arctic Eis 83-112 specimen data"
**Data product requested (stratum CPUE, etc.)**:

**Species**:

**Region** (GOA, AI, Bering Sea):

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account. Division is nice too.):

[2022-05-19 19:58] NancyRoberson commented on #25
Complete

[2022-05-19 19:58] #25 closed

[2022-06-21 21:38] K-Fuller opened #26 "Sleeper Shark Weight/ Measurements and Capture Info [Data product request]"
**Data product requested (stratum CPUE, etc.)**:
Physical data taken of caught sleeper sharks, as well as the associated catch data (location, time, etc)

**Species**:
Pacific sleeper shark

**Region** (GOA, AI, Bering Sea):
All

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account. Divisio

[2022-06-29 16:25] NancyRoberson commented on #26
@K-Fuller, @Duane-Stevenson-NOAA , @Ned-Laman-NOAA

Please find attached 3 files of sleeper shark data:
catches, haul data for those catches and specimen data.

Briefly, there are 569 recorded catches of sleeper sharks in our database and the dates span from 1980-2021.
There are 291 records of specimen data and they span from 1996 to 2016 (I am unclear why there aren't records for more recent year

[2022-06-29 16:25] #26 closed

[2022-07-07 18:37] jennybigman opened #27 "1982 - Present Specimen Data Request"
**Data product requested (stratum CPUE, etc.): specimen data (sex, length, weight, age, + metadata (survey, cruise, region, stratum, haul, station ID, lat/long, bottom temp, surface temp, species code, species ID, tow_date))

**Species: All species

**Region: EBS, GOA, AI

**Research team making the request: Jennifer Bigman, EcoFOCI

* I am happy to include as many co-authors/collaborators as appr

[2022-07-11 16:56] ivonneo commented on #4
Hi Nancy,

I have not received an e-mail with the data or an e-mail to retrieve the
data here on in my noaa e-mail.

Thanks for checking,

Ivonne

On Mon, Jul 11, 2022 at 9:15 AM Nancy Roberson ***@***.***>
wrote:

--
Ivonne Ortiz, PhD  (she/her)
Senior Research Scientist, Associate Director
Cooperative Institute for Climate, Ocean, and Ecosystem Studies |
CICOES | University
of Washington
Alaska

[2022-07-11 17:02] NancyRoberson commented on #4
Hi Ivonne,
Just to clarify, you still need those data?
Thanks,
Nancy

[2022-07-11 21:03] ivonneo commented on #4
Hi Nancy,

Yes, I still need that data. Thanks for checking. Last I heard Lewis
Barnett was still working on it. This is a request that, in the past, had
been filled in by Rebecca Haehn. Before the automated gap-products requests.

Ivonne

On Mon, Jul 11, 2022 at 10:02 AM Nancy Roberson ***@***.***>
wrote:

--
Ivonne Ortiz, PhD  (she/her)
Senior Research Scientist, Associate Director
Cooperative I

[2022-07-11 22:42] ivonneo commented on #4
My apologies! I am still learning the logistics of the afsc-gap requests.
But if there is someone available to fill in the request, I would greatly
appreciate it.

Best,

Ivonne

On Mon, Jul 11, 2022 at 2:07 PM Lewis-Barnett-NOAA ***@***.***>
wrote:

--
Ivonne Ortiz, PhD  (she/her)
Senior Research Scientist, Associate Director
Cooperative Institute for Climate, Ocean, and Ecosystem Studies |
CICOE

[2022-07-11 22:47] Lewis-Barnett-NOAA commented on #4
Not your fault at all!  We are still working out our communication chains and whatnot for this new approach.  Apologies that this hasn't been addressed yet but we will get the right person on it.

[2022-07-11 23:02] Ned-Laman-NOAA commented on #8
Pete and Nancy,
It isn't clear to me what your comparing. Do you have a static copy of pre-2006 data that your comparing with? Or are you saying the pre-2006 data in tables we hold in Oracle are not reproducible with Wayne's SQL? Can you share a copy of Wayne's SQL for us to evaluate? I think answering these questions might provide a good starting point to sleuth out what's going on here.

[2022-07-13 16:14] Duane-Stevenson-NOAA commented on #4
Hi Ivonne,

I think Nancy was using my words there, so maybe I can clarify. We are in
the process of streamlining and updating our workflow regarding data
requests and data product generation, in the interest of making it more
transparent, repeatable, and efficient. The way we are doing this for basic
data requests is by referring people to the FOSS web interface, which
includes haul-based CPUE in

[2022-07-13 23:57] Erin-Fedewa-NOAA commented on #21
Completed, thank you for checking back in Nancy!

[2022-07-14 17:38] #22 closed

[2022-07-15 22:41] Lewis-Barnett-NOAA commented on #27
Jenny, [here ](https://drive.google.com/drive/folders/1vJQNN98iN6c7jTD5RNbXrvvOCFQaTRdx?usp=sharing )is the data we discussed

[2022-07-15 22:41] #27 closed

[2022-07-15 23:07] jennybigman commented on #27
Thank you!

[2022-07-15 23:18] #20 closed

[2022-08-01 12:11] ivonneo commented on #4
Hi Nancy,

Somehow I missed this e-mail. I don’t have the script and yes, Rebecca has
done this for me in the past.

Can you confirm ehen I can expect the data? As I said in my e-mail to
Duane, I assume it would be around Sep 23 when you have delivered stuff to
the stock assessments and the groundfish plan tesn meets.

Let me know what you think,

Ivonne

On Wednesday, July 13, 2022, Nancy Roberso

[2022-08-01 14:40] NancyRoberson commented on #4
Hi Ivonne,

I need to let Duane confirm the dates since his staff that provides the scripts and data.
Question/Idea:  would  you be able to run the queries if we provided the scripts to you?
Thanks,
Nancy

[2022-08-17 17:20] sean-rohan-NOAA opened #28 "2019 EBS/NBS haul metadata for CTD samples"
**Data product requested (stratum CPUE, etc.)**:

EBS shelf and NBS haul metadata from 2019, including:

Haul:
- Vessel/Cruise/Haul
- Station ID
- Minimum bottom depth
- Maximum bottom depth
- Average bottom depth
- Surface temperature
- Gear temperature
- Wire out
- Performance

Event:
- Vessel/Cruise/Haul
- Doors down, doors up, on bottom, off bottom
- Latitude
- Longitude
- Date/Time

**Species

[2022-08-17 17:47] sean-rohan-NOAA commented on #28
**Requested data:**

[2019_BS_HAUL_METADATA.csv](https://github.com/afsc-gap-products/data-requests/files/9365004/2019_BS_HAUL_METADATA.csv)

**Data pull:**

library(RODBC)
library(tidyr)
library(dplyr)
library(gapctd)

con <- gapctd:::get_connected()

haul_dat <- RODBC::sqlQuery(channel = con,
                            query = "select c.vessel_id vessel, c.cruise, a.haul, a.performance, a.wire_

[2022-08-17 17:50] #28 closed

[2022-08-17 21:25] NancyRoberson opened #29 "IPHC annual request: 2022 EBS/AI/NBS haul, catch, and length data for Pacific halibut"
**Data product requested**  (haul data, catch data, length data):

**HAUL**:
- CRUISEJOIN/HAULJOIN
-   REGION
-   VESSEL/CRUISE/ HAUL
-   HAUL_TYPE
-   PERFORMANCE
-   START_TIME
-   DURATION
-   DISTANCE_FISHED
-   NET_WIDTH
-   NET_MEASURED
-   NET_HEIGHT
-   STRATUM
-   START_LATITUDE/END_LATITUDE
-   START_LONGITUDE/END_LONGITUDE
-   STATIONID
-   GEAR_DEPTH/BOTTOM_DEPTH
-   BOTTOM_TYPE
-   SU

[2022-08-19 15:18] NancyRoberson opened #30 "2022 EBS CPUE By Station For All Species"
**Data product requested (stratum CPUE, etc.)**:
EBS shelf CPUE by station

Including:

- Vessel/Cruise/Haul
- Latitude
- Longitude
- Station
- Stratum
- Year
- Datetime
- WTCPUE
- NUMCPUE
- Common_name
- Scientific_Name
- Species_code
- Bottom_Depth
- Bottom_Temperature
- Surface_temperature

**Species**:
All species caught

**Region** (GOA, AI, Bering Sea):
EBS shelf

**Research team making the

[2022-09-02 20:23] pete-hulson commented on #8
Hey Ned and Nancy,

Apologies for the delayed response here, between summer field work and fall
assessment season things get busy, I'm sure you can relate.

I've got a couple of things attached for you. First, you had asked for
Wayne's SQL, that's attached as 'SQL sizecomp.R'. A bit of
development history here, over a number of years this code has been
implemented into R based on this original SQL

[2022-09-20 14:33] RebeccaHaehn-NOAA commented on #30
[Erin.Fedewa@noaa.gov](mailto:Erin.Fedewa@noaa.gov) Kodiak Fisheries Research Center.
This request has been completed. Data are located in the [Google drive](https://drive.google.com/drive/folders/1hfNhfOmIDC7dSigbsz4P3amZWj4jMv_u) associated with this GitHub. The data are also available on the AFSC Public Drive in the dropbox. Please see email sent by @Duane-Stevenson-NOAA on September 14th.

[2022-09-20 14:33] #30 closed

[2022-09-20 14:39] RebeccaHaehn-NOAA commented on #29
@NancyRoberson and Lauri.Sadorus@iphc.int
Data for EBS and NBS have been sent directly to Lauri on Sept 26, 2022. Data have also been uploaded into the [Google Drive](https://drive.google.com/drive/folders/1hfNhfOmIDC7dSigbsz4P3amZWj4jMv_u) associated with this GitHub.

[2022-09-20 16:23] RebeccaHaehn-NOAA commented on #4
@ivonneo
I've gone through email correspondence between us in 2020/2021 (post D. Nichol retirement) and found no emails with this request for cpue data by length bin or a data file that contains this information. Nancy and I have been searching for a script that calculates the data you've requested. Currently, I can provide cpue by station, by haul, by species. The file is on the [Google Drive](ht

[2022-09-20 17:31] NancyRoberson commented on #29
@RebeccaHaehn-NOAA and Lauri.Sadorus@iphc.int
AI haul, catch, and length data have been sent directly to Lauri on Sept. 20, 2022.
Data have also been uploaded into the [Google Drive](https://drive.google.com/drive/folders/1hfNhfOmIDC7dSigbsz4P3amZWj4jMv_u) associated with this GitHub.

[2022-09-23 18:19] NancyRoberson opened #31 "[ANNUAL REQUEST: REFM: 2022 AI/GOA CPUE data ]"
**Data product requested (stratum CPUE, etc.)**:
The CPUE and the following fields from the 2022 AI survey
LATITUDE
LONGITUDE
STATION
STRATUM
YEAR
DATETIME
WTCPUE
NUMCPUE
COMMON
SCIENTIFIC
SID
BOT_DEPTH
BOT_TEMP
SURF_TEMP
VESSEL
CRUISE
HAUL

**Species**:  All

**Region** (AI 2022):

**Research team making the request** (andy.whitehouse@noaa.gov/REFM):

These are the same data as those that used to

[2022-09-26 15:16] Ned-Laman-NOAA commented on #31
Hi Andy,

Thanks for asking about our survey data.

Since the AFSC Website for survey data is going away sometime soon, we designed and set up the FOSS (https://www.fisheries.noaa.gov/foss/f?p=215:28) data set to take its place. You will find all of the same fields that you included in your example CSV populated on the FOSS website through 2021. The 2022 Aleutian survey should be up there shortly

[2022-09-27 15:58] aw2113 commented on #31
Hi Ned,

Thank you for the info. I just checked out the FOSS website and it looks
like the All Data Fields download will do the trick. I will keep checking
back here for the 2022 data.

Thanks again!

Andy

On Mon, Sep 26, 2022 at 8:17 AM Ned Laman ***@***.***> wrote:

--
George (Andy) Whitehouse | he/him
Research Scientist
Cooperative Institute for Climate, Ocean, and Ecosystem Studies | CICOES
<

[2022-09-27 16:11] NancyRoberson commented on #31
Requester will find 2022 data on FOSS [https://www.fisheries.noaa.gov/foss/f?p=215:200:16761867895341:Mail:NO:::](url)

[2022-09-27 16:11] #31 closed

[2022-09-27 16:38] Ned-Laman-NOAA commented on #31
Andy-
One thing I wanted to note for you is that the CPUE data on FOSS are not zero-filled.
If you have questions give me a shout.
The data should be arriving in FOSS this week.
Ned

[2022-09-27 16:52] aw2113 commented on #31
Thanks for the heads up Ned! Not being zero-filled shouldn't be a problem
for our purposes.
-Andy

On Tue, Sep 27, 2022 at 9:38 AM Ned Laman ***@***.***> wrote:

--
George (Andy) Whitehouse | he/him
Research Scientist
Cooperative Institute for Climate, Ocean, and Ecosystem Studies | CICOES
<https://cicoes.uw.edu/> | University of Washington
Office: NOAA Alaska Fisheries Science Center, 7600 Sand P

[2022-09-29 19:30] kakearney commented on #23
Can I get an update for 2022?  No changes to the details other than adding a year.

[2022-09-29 19:44] Lewis-Barnett-NOAA commented on #23
Hi Kelly, it may not include all your fields, but the coldpool package is updated with the raw temperature data: https://raw.githubusercontent.com/afsc-gap-products/coldpool/main/data/index_hauls_temperature_data.csv

[2022-10-03 18:44] Ned-Laman-NOAA opened #32 "Correction to RACEBase.HAUL 1980s hauls"
@NancyRoberson
There are four locations in RACEBase.HAUL in the AI and GOA regions (and 69 loci in the BS region-check with @Duane-Stevenson-NOAA about how he wants to deal with those) where NET_WIDTH Is Null but ABUNDANCE_HAUL = 'Y'. This fails logic currently held in GIDES and conceptually in the steps to estimate biomass since without NET_WIDTH we cannot compute area swept to provide Effort for

[2022-10-03 21:05] Duane-Stevenson-NOAA commented on #32
Yeah, these 69 hauls in the BS are from some weird cruise in the NBS in
1982, on which apparently the net was not measured. I think they should
also be abundance_haul = N.

Duane

On Mon, Oct 3, 2022 at 11:44 AM Ned Laman ***@***.***> wrote:

--
Duane Stevenson, Ph.D.
Supervisory Fish Biologist
Groundfish Assessment Program
NMFS, Alaska Fisheries Science Center

[2022-10-05 20:44] NancyRoberson commented on #32
Done.   73 records updated in RACEBASE.HAUL_ORIG and RACEBASE.HAUL materialized view refreshed

UPDATE racebase.haul_orig  ---these records are archived in RACEBASE.HAUL_ORIG;
SET
    abundance_haul = 'N'
WHERE
    net_width IS NULL
    AND abundance_haul = 'Y'

73 records updated

Refresh RACEBASE.HAUL MATERIALIZED VIEW:

After updates,  refresh any invalid RACEBASE materialized views (in this ca

[2022-10-05 20:44] #32 closed

[2022-10-11 08:23] Duane-Stevenson-NOAA commented on #14
Hi Erin,

We can definitely include zero catch stations, and I would assume that
those are already included in Nancy's haul file, though I would have to see
her code to be sure.

And we can also provide the same info for EBS stations, but I would suggest
submitting a separate request for that, specifying which survey years are
requested.

Duane

On Tue, Mar 22, 2022 at 9:28 AM Erin Fedewa ***@***.

[2022-10-11 09:15] Duane-Stevenson-NOAA commented on #4
Hi Lewis, Ivonne, et al.,

I believe that this kind of "CPUE-by-length-class" request is the kind of
data analysis product that we decided not to produce unless there is close
consultation with a GAP member (correct me if I misunderstand the request).
In this case, it sounds like there has been close consultation with Rebecca
in the past, so I'm reluctant to hand off that data request to someone
e

[2022-10-11 09:17] ivonneo commented on #4
Duane!!! Long time no see :)

Thanks for clarifying and providing a timeline. The original request was
done in January, but at this point I know stock assessments etc. take
precedent. I myself am going to start diving into AI ESR and will not be
able to follow up on this.
I'm assuming Rebecca's availability will realistically be sometime after
the Groundfish Management Plan Team meets, so Septembe

[2022-10-11 14:39] Duane-Stevenson-NOAA commented on #4
Hi Ivonne,

I'm not sure why my response was just posted today. I wrote it on July 11! Please see the last post from Rebecca.

Duane

[2022-10-11 17:44] Erin-Fedewa-NOAA commented on #14
Thanks Duane- I've got what I need for now so I think all good to close this issue. If I do find I need something else, I'll just open a new issue.

[2022-10-11 18:12] Duane-Stevenson-NOAA commented on #14
Hi Erin,

I don't know why this comment from me showed up today - I sent that message
on March 22!!

Duane

On Tue, Oct 11, 2022 at 11:06 AM Erin Fedewa ***@***.***>
wrote:

--
Duane Stevenson, Ph.D.
Supervisory Fish Biologist
Groundfish Assessment Program
NMFS, Alaska Fisheries Science Center

[2022-10-11 21:14] abigailatsea opened #33 "[Data product request] - MACE, EBS"
Hello-
We'd like the **Length at age data for summer EBS survey**:
Unclear on what "stratum" means, but we'd like data from legs 1-3.
Time-frame- by 10/13 if at all possible.

**Walleye Pollock**:

** Bering Sea **:

MACE, Sarah Stienessen, sarah.stienessen@noaa.gov

Thanks!

[2022-10-12 20:46] mike-levine opened #34 "FMP codes for forage and protected species: add to RACE_DATA.FMA_SPECIES_CODES?"
**Data product requested (stratum CPUE, etc.)**:  add species to RACE_DATA.FMA_SPECIES_CODES?

**Species**: Multiple

**Region** (GOA, AI, Bering Sea): NA

MACE submits an annual report to the AK Regional Office accounting for our catch of 'Fishery Management Plan species'. We've long worked off a list at *racebase_dev.fmp_species_list* but Taina noticed this list was incomplete. We requested a cu

[2022-10-13 22:40] MargaretSiple-NOAA commented on #33
Hi Abigail, sorry I just saw this. I am not an EBS person so I have just added a tag so someone will pick it up.

[2022-10-13 22:42] abigailatsea commented on #33
Hi Megsie-
Wasn't sure who to tag, when Sarah emailed asking for the data she was told to submit an issue here. Thanks for answering!

[2022-10-14 15:06] Ned-Laman-NOAA opened #35 "Otolith Specimen Collection Report"
**Data product requested (stratum CPUE, etc.)**:
Having negotiated otolith requests with stock authors in the planning stages, we close the circle by reporting back to Sandra Lowe and Chris Lunsford on whether we met the targets for their collections (e.g., the negotiated requests was for 1000 otolith pairs and we collected 900). We have also typically determined how many otoliths we "left on the

[2022-10-14 16:44] zoyafuso-NOAA commented on #35
Hi Ned

When is this due and do you have an example of this type of report? This
was kind of a fun task so I'm hoping that you'll assign this to me for the
GOA next year.

On Fri, Oct 14, 2022 at 8:07 AM Ned Laman ***@***.***> wrote:

--
*Zack Suriya Oyafuso, Ph.D.*
(he/him/his)
Research Fish Biologist
GitHub: github.com/zoyafuso-NOAA

NOAA Fisheries, Alaska Fisheries Science Center
Resource Asses

[2022-10-14 18:00] Ned-Laman-NOAA commented on #35
Zack,
There isn't really a due date for this. In the past I was generating this in late September or early October so the timing is about right.
Here's an example and some of the SQL I'd been running to get at otoliths foregone.
G:\GOA\GOA 2021\Otoliths see the ...PostCruiseEval... files
I'm glad you are willing to continue with this task so go for it.
At the same time, let's talk about who else c

[2022-10-18 15:17] BenWilliams-NOAA opened #36 "GOA management area biomass"
**Data product requested**:  Current VAST estimates produce biomass for the entire GOA. However, allocation is based upon spatial abundance (e.g., western, central, eastern - some species have additional spatial allocations). While a number of GOA species are using VAST to estimate survey abundance we then switch to the design-based abundance estimate to determine regional abundance (which is then

[2022-10-18 19:06] NancyRoberson opened #37 "[Haul Data for 2022 EBS/NBS/AI; Catch Data for hauls where Pacific herring were caught ]"
**Data product requested (stratum CPUE, etc.)**:   All Haul Data;  Catch data for hauls with Pacific herring

**Pacific herring**:

**Region** (GOA, AI, Bering Sea ):  AI, EBS shelf, NBS

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account. Division is nice too.):  salmgren@alaska.edu  jrg

[2022-10-18 19:53] Duane-Stevenson-NOAA commented on #33
Abby and Sarah,

Please see the attached table, generated using the following SQL script:
select *
from RACEBASE.specimen
where CRUISEJOIN in (-755, -756)
and SPECIES_CODE = 21740;

Let me know if this fulfills your need.

Duane

[EBS2022_POLLOCK_AGES.csv](https://github.com/afsc-gap-products/data-requests/files/9814634/EBS2022_POLLOCK_AGES.csv)

[2022-10-18 20:07] Lewis-Barnett-NOAA commented on #36
Hi Ben, good idea.  We can simply designate the subareas by the strata.limits argument in VAST.  It would be great to work with you to make the appropriate inputs for each species and compare the allocation differences resulting from design- and model-based estimators.

[2022-10-18 21:29] Ned-Laman-NOAA commented on #37
I will work with Bethany to get her up to speed responding to this request.

[2022-10-18 22:24] Duane-Stevenson-NOAA commented on #37
As soon as the data are uploaded to FOSS (should be this week), we should
just redirect the requestor there.

Duane

On Tue, Oct 18, 2022 at 2:29 PM Ned Laman ***@***.***> wrote:

--
Duane Stevenson, Ph.D.
Supervisory Fish Biologist
Groundfish Assessment Program
NMFS, Alaska Fisheries Science Center

[2022-10-18 22:25] Duane-Stevenson-NOAA commented on #33
Can we consider this issue closed now?

Duane

[2022-10-18 22:56] Ned-Laman-NOAA commented on #37
If the data make it to FOSS in a timely fashion for the Aleutians, I agree.
Ned

[2022-10-18 23:21] abigailatsea commented on #33
Duane-
Thanks, yes we can.

[2022-10-18 23:21] #33 closed

[2022-10-18 23:51] Duane-Stevenson-NOAA commented on #37
Looks like all 2022 data are now available in FOSS.

Duane

[2022-10-18 23:52] Duane-Stevenson-NOAA commented on #37
I would suggest that the requestor consult the Fisheries One-Stop Shop for these data:
https://www.fisheries.noaa.gov/foss/f?p=215:28:6890589595555::NO:::

Duane

[2022-10-18 23:54] sean-rohan-NOAA opened #38 "EBS slope survey stratum shapefiles"
**Data product requested (stratum CPUE, etc.)**: EBS Slope survey shapefiles for use in 2022 stock assessment

**Species**: N/A

**Region** (GOA, AI, Bering Sea): Bering Sea

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account. Division is nice too.): Jane Sullivan(@JaneSullivan-NOAA) and

[2022-10-18 23:58] Ned-Laman-NOAA commented on #37
I would further specify that they look at the AFSC GAP Survey data on FOSS here:
https://www.fisheries.noaa.gov/foss/f?p=215:28:16447075982055::NO:::

Question is, do we now need to respond to the requester directly since Nancy started this thread or is the requester part of this thread?

[2022-10-19 14:52] #29 closed

[2022-10-19 15:02] NancyRoberson commented on #37
I downloaded the data from FOSS and sent them to the requester in an email.  I also directed her to the FOSS for future data requests.

[2022-10-19 15:02] #37 closed

[2022-10-19 17:10] sean-rohan-NOAA commented on #38
Worked with Jerry to get EBS Slope stratum and survey area shapefiles included in version 2.1.0 of akfishcondition:
[https://github.com/afsc-gap-products/akgfmaps](https://github.com/afsc-gap-products/akgfmaps)

Example code for using the akgfmaps::get_base_layers() function to access the shapefiles in R:

library(akgfmaps)
library(ggthemes)

slope_layers <- akgfmaps::get_base_layers(select.region

[2022-10-19 17:10] #38 closed

[2022-10-19 17:48] JaneSullivan-NOAA commented on #38
Thanks @sean-rohan-NOAA and Jerry!

[2022-10-24 19:07] NancyRoberson opened #39 "Assistance designing a query that targets the EBS shelf records and excludes other BS surveys e.g. slope and NBS"
**Data product requested (stratum CPUE, etc.)**:  Requester needs assistance designing a query that targets only the EBS shelf records and excludes other BS surveys e.g.  EBS slope and NBS surveys

**Species**: None

**Region** (GOA, AI, Bering Sea): BS shelf only

**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor doe

[2022-10-24 20:02] NancyRoberson commented on #39
Thanks Rebecca for the following snippet which filter outs everything except EBS shelf stations (it does include the 20 northwest stations added in 1986).
Requester has snippet so I am marking this issue closed.

SELECT  to_number(to_char(a.start_time,'yyyy')) year,A.*
FROM RACEBASE.HAUL A
JOIN RACE_DATA.V_CRUISES B
ON (B.CRUISEJOIN = A.CRUISEJOIN)
WHERE A.PERFORMANCE >= 0
AND A.HAUL_TYPE = 3
AND

[2022-10-24 20:02] #39 closed

[2022-10-24 22:05] zoyafuso-NOAA commented on #35
Hi @Ned-Laman-NOAA

Here's that report in a [csv](https://github.com/zoyafuso-NOAA/AIGOA_Core_Otolith/blob/main/reports/202201_AI_otolith.csv) file pushed to the new AIGOA core otolith repo. Can you look over it and let me know if I need to do anything else.

[2022-10-24 23:52] Ned-Laman-NOAA commented on #35
This looks good, Zack.
Next step is to communicate this information to the stock assessors (probably through Sandra Lowe and Chris Lunsford).
I recommend knowing before you communicate with them if those species were we were "under" were due to a lack of fish to sample or we accidentally left fish "on the table" with respect to the collection rubric (e.g., did we collect all of the fish that were

[2022-10-25 02:19] jimianelli opened #40 "[Data product request]"
**Data product requested (stratum CPUE, etc.)**:
CPUE by tow
**Species**:
All
**Region** (GOA, AI, Bering Sea):
All
**Research team making the request** (PI /requester name, and tag team members with GitHub accounts, or email address if requestor does not have a GitHub account. Division is nice too.):
@jimianelli loves FOSS...but for tow-tow CPUE data it would be good to include the zeros too. So

[2022-10-25 18:02] zoyafuso-NOAA commented on #35
Here's that report, I'll send an email that points to here as well. Feel free to close the issue.

[2022_AI_otolith.docx](https://github.com/afsc-gap-products/data-requests/files/9862755/2022_AI_otolith.docx)

[2022-10-25 18:13] Ned-Laman-NOAA commented on #35
Reporting out to SSMA the totals and any instances where more fish could've been otolized but weren't was the last step in this process for this year

[2022-10-25 18:13] #35 closed

[2022-10-30 21:48] EmilyMarkowitz-NOAA opened #41 "ATF, Kam, Shortracker Rockfish plots for SAFE reports"
**Due:** Monday October 31, 2022

**Data product requested (stratum CPUE, etc.)**:

1.) Eastern Bering Sea: ATF 1992-2022
- [x] CPUE plots 3 row x 2 col plus NBS and BSS (one with coldpool outline in red or yellow, one without)
- [x] M and F side by side length comps EBS only
- [x] M and F side by side age comps EBS only
- [x] M and F side by side length comps BSS only
- [x] M and F side by side a

[2022-10-30 21:54] EmilyMarkowitz-NOAA commented on #41
Can do! Still working on it, but plots and scripts will be available [here](https://drive.google.com/drive/folders/1cvPy-_CgjiSsPy9Yxj38GXcTt2uUMmOP?usp=share_link) in our [data requests google drive folder](https://drive.google.com/drive/folders/1hfNhfOmIDC7dSigbsz4P3amZWj4jMv_u?usp=sharing).  Will update as soon as plots are completed.

**Future**: This winter let's plan and list what all of the

[2022-10-31 14:32] MargaretSiple-NOAA commented on #41
Yes, thank you for reminding me! All my figure plots are here: https://github.com/MargaretSiple-NOAA/goa-ai-data-reports/blob/main/R/make_figures.R . To just start pumping out plots, you just run the first 95-ish lines of [this](https://github.com/MargaretSiple-NOAA/goa-ai-data-reports/blob/main/R/00_start_here.R), which will source the `make_figures.R` script after downloading the tables you need

[2022-10-31 14:35] MargaretSiple-NOAA commented on #40
Hi Jim! Sorry we haven't gotten to this yet-- I haven't checked the data requests for a minute. Do you want this for every year, also?

[2022-10-31 14:42] Duane-Stevenson-NOAA commented on #41
Hi Em,

I'm assuming that the info you want is CPUE by haul, correct? If so, I
think the table you are looking for is EBSSLOPE.CPUELISTRNK. I have granted
select privileges to you for this table. If it looks like there is
something unusual or incomplete about these data, you may have to consult
with Jerry. He knows the structure of the slope tables much better than I
do.

Duane

On Sun, Oct 30, 20

[2022-10-31 16:01] jimianelli commented on #40
No rush, I Kludged around to get zeros. And actually have them for the
other years already (from earlier products). But yes, eventually, all
years. I'm sure there's a way to just list all the tows that occurred each
year and write a line of R that pads out the zero CPUE (rather than storing
all the zeros for each species!).

On Mon, Oct 31, 2022 at 7:35 AM Margaret Siple ***@***.***>
wrote:

--
Ji

[2022-11-01 18:36] EmilyMarkowitz-NOAA commented on #41
Thanks all!

- The figures and code are now available on the aforementioned [google drive](https://drive.google.com/drive/folders/1cvPy-_CgjiSsPy9Yxj38GXcTt2uUMmOP?usp=share_link)! Please review and let me know if you need me to make any changes.
- I have also shared all of the code etc. on this [repo](https://github.com/EmilyMarkowitz-NOAA/stock-assessment-figtab). Here we can workshop figure+ re

[2022-11-02 23:17] #41 closed

[2022-11-09 23:13] Drew-Stephens-NOAA opened #42 "Positional data"
GPS position data is missing in the ES60 .raw files for 11 cruises. Requesting positional data so we can submit to NCEI bathymetry database.

**Data product requested (stratum CPUE, etc.)**:

Date, Time, Latitude, Longitude

For each of the following cruises:
(Vessel name, GAP vessel code, region, year)
Morning Star, 57, GOA, 2001
Vesteraalen, 94, GOA, 2001
Vesteraalen, 94, GOA, 2007
Alaska Provid

[2022-11-18 16:54] NancyRoberson commented on #34
@mike-levine ,
Hi!  In order to add these 59 species to RACE_DATA.FMA_SPECIES_CODES, I will need the FMA_SPECIES_CODES for them.  Can you provide them to me?
Thank you!

[2022-11-21 16:43] NancyRoberson commented on #34
Hi Mike,
Here is a list all of the FMA species codes from their species table, provided by Chris Anderson -  if you could you cull out the ones you for the species you want to add and send them to me, I will try to get this done this week.

Thanks so much,
Nancy

[fma_species_codes (1).xlsx](https://github.com/afsc-gap-products/data-requests/files/10058362/fma_species_codes.1.xlsx)

[2022-11-22 00:22] mike-levine commented on #34
Thanks, Nancy,

I gave this a go, but I think the issue is that there are many species included in the RACE list that just don't have an FMA species code. I added a few columns [here](https://docs.google.com/spreadsheets/d/1hJ2jAhq_kfnVSSKMbsKWGz2Qjj6EPL_I1vlcELaIYkg/edit#gid=1717346057) with what I could match up.

I guess it isn't surprising that uncommonly encountered species (lots of sculpin s

[2022-11-22 17:41] NancyRoberson commented on #34
Thanks Mike,
I agree that without FMA codes, this won't work;  they are the primary codes for the table.

Re:  the one's you were able to match up are in FMA_SPECIES_CODES table.

Going forward,  if/when FMA assigns codes to the orphans, submit them as an issue and I/GAP staff will update them in the table.

[2022-11-22 17:41] #34 closed

[2022-11-22 18:46] Ned-Laman-NOAA commented on #42
GPS data for most of those vessel,cruises are available though unreconciled/unedited. The GPS data I refer to are those associated with the trawl events and are not the continuous position data typical of an ES60 .raw recording.
The GPS data I can access are likely not synchronized to the ES60 .raw files so that vessel position may not coincide with ES60 depth.
Is this acceptable?

[2022-11-22 19:16] Drew-Stephens-NOAA commented on #42
Thanks for the response, Ned. I think this request can be canceled.

I talked with Paul about it last week and we went through how to access and download the Globe files. That has worked for the bulk of the data. I do not see Globe files for 2003 or earlier, so I assume they do not exist.

Since the data here is not continuous, and other reasons you mentioned, I'm planning to scrap plans to use th

[2022-11-22 19:40] Ned-Laman-NOAA commented on #42
Thanks for that information Drew.
You're correct about Globe. I don't think we commonly collected data in that system until a few years after 2003.
If you have need of the trawl-specific GPS data, typically on 2-3 second intervals instead of the Globe Tracks which were coarser at 10 second intervals, then let me know.

[2022-11-29 19:49] kimberlyrand opened #43 "North Bering/Chukchi Seas RACE surveys not in FOSS"
hello - looking for zero filled CPUE data for the north Bering Sea (NBS) and Chukchi surveys. Most are on FOSS (NBS); however, north Bering sea 2018 and the 2012 Chukchi surveys are not so thought I would request a package deal :).

**Data Requested: NBS 2010, 2017-2022 and Chukchi 2012**

Importantly, can you send metadata with NBS 2018, Chukchi 2012 surveys as to how they differ from standardize